modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "pyflyby", "tree", "pkg", "yakut"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend Server"

[[workflows.workflow]]
name = "Frontend Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-cd5137f0-fd65-4fb7-b509-b9413f46358e"

env = {
  REPLIT_BASHRC = "/home/runner/workspace/.bashrc_8x8org",
  REPLIT_BASHRC_ORIG = "/nix/store/lsgsb0ar7rdwa09d1z2dnfjh4188pddk-replit-bashrc/bashrc",
}

[env]
PROMPT_COMMAND = "source /home/runner/workspace/repos/8x8org/scripts/shellrc.sh >/dev/null 2>&1"
REPLIT_BASHRC="/home/runner/workspace/repos/8x8org/scripts/replit_bashrc.sh"
BASH_ENV = "/home/runner/workspace/repos/8x8org/scripts/shellrc.sh"
PATH = "/home/runner/workspace/repos/8x8org/bin:$PATH"
